<div class="produto-wrapper">
    <img src="{{ this.imageSrc }}" class="img-produto-preview">
    <div class="produto-info">
        <p class="produto-titulo"><a href="/produtos/{{ this.id }}">{{ this.name }}</a> - {{ this.price }} ({{this.rating}})</p>

        <p>{{ this.description }}</p>
    </div>
</div>